@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-image: url(../public/background-img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

/**Colors*/
:root {
    --lightGreen: #EBFFEE;
    --mantisGreen: #5FBF6A;
    --sproutGreen: #3B9545;
    --polyGreen: #1D4923;
    --chocolateBrown: #844D0B;
    --seedBrown: #603808;
    --darkBrown: #392105;
    --vegeOrange: #FF8800;
    --fruitBlue: #4F86F7;
}

/**contains everything in the body*/
.main {
    padding: 3rem;
}

/**First div that holds the entire navBar*/
.navBar_container {
    width: 100%;
    background: var(--mantisGreen);
    opacity: 0.9;
    gap: 1rem;
    margin: 0;
    border-radius: 3rem;
    display: flex;
}

/**container than holds the logo in the navBar*/
.navBar_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreen);
    border-radius: 3rem;
    padding: 0.5rem;
    width: 8%;
}

/**Container that holds all the links in the navBar*/
.navBar_links_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
}

/**links in the navBar*/
.navBar_links {
    font-family: 'philosopher', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

/**Body Content*/
/**container that holds body content*/
.body_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.text_container{
    display: flex;
}
/**contains text*/
.text_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 70vh;
}

/**home text content*/
.home_content_headerOne {
    font-size: 5rem;
    margin: 0;
    line-height: 5.5rem;
}

.home_content_headerFour {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-weight: 400;
    color: var(--polyGreen);
    line-height: 2.5rem;
}

.home_content_p {
    font-size: 1rem;
    margin: 0;
}

.body_content_logo_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/**home page logo in body content*/
.body_content_logo {
    width: 22rem;
}

.logo_shadow{
    background-color: black;
    height: 1rem;
    border-radius: 100%;
    opacity: 0.2;
}

/** color-palette style*/

.color-forestgreen{
    height: 200px;
    width: 200px;
    background-color: #3B9545;

}
.color-mantisgreen{
    height: 200px;
    width: 200px;
    background-color:#5FBF6A;
}
.color-calpolygreen{
    height: 200px;
    width: 200px;
    background-color:#1D4923;
}
.color-darkorange{
    height: 200px;
    width: 200px;
    background-color:#FF8800;
}
.color-chocolate-brown{
    height: 200px;
    width: 200px;
    background-color:#844D0B; 
}
.color-sepia-brown{
    height: 200px;
    width: 200px;
    background-color:#603808; 
}
.color-bistre-brown{
    height: 200px;
    width: 200px;
    background-color:#392105; 
}
.color-azure-blue{
    height: 200px;
    width: 200px;
    background-color:#4F86F7; 
}
.colors-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100vh;
}
.left-color-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10vh;
}
.right-color-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10vh;  
}

.color_text_h1 {
    margin-top: 10vh;
    font-size: 5rem;
    margin: 10vh;
}
.forest-box-size{
    height: 250px;
    width: 200px;
    
    outline: #3B9545 solid 1px;
}
.mantis-box-size{
    height: 250px;
    width: 200px;
    
    outline: #5FBF6A solid 1px;  
}
.calpoly-box-size{
    height: 250px;
    width: 200px;
    
    outline: #1D4923 solid 1px;  
}
.orange-box-size{
    height: 250px;
    width: 200px;
    
    outline: #FF8800 solid 1px;  
}
.choco-box-size{
    height: 250px;
    width: 200px;
    outline: #844D0B solid 1px;   
}
.choco-box-size{
    height: 250px;
    width: 200px;
    outline: #FF8800 solid 1px;   
}
.choco-box-size{
    height: 250px;
    width: 200px;
    outline: #FF8800 solid 1px;   
}
.choco-box-size{
    height: 250px;
    width: 200px;
    outline: #FF8800 solid 1px;   
}




/**Need to add breaking points for responsiveness*/

/* Mobile */
@media screen and (max-width: 600px) {
  
    .colors-container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin-top: 150vh;
        gap: 10vh;
        margin-left: 20vw;
    }
  
    
  }