@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-image: url(../public/background-img/background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    padding: 1rem;
    margin: 0;
}

/**contains everything in the body*/
.main {
    padding: 5rem;
}

/**Colors*/
:root {
    --lightGreen: #EBFFEE;
    --mantisGreen: #5FBF6A;
    --sproutGreen: #3B9545;
    --polyGreen: #1D4923;
    --chocolateBrown: #844D0B;
    --seedBrown: #603808;
    --darkBrown: #392105;
    --vegeOrange: #FF8800;
    --fruitBlue: #4F86F7;
}

/**contains everything in the body*/


/**First div that holds the entire navBar*/
.navBar_container {
    width: 100%;
    background: var(--mantisGreen);
    opacity: 0.9;
    gap: 1rem;
    margin: 0;
    border-radius: 3rem;
    display: flex;
}

/**container than holds the logo in the navBar*/
.navBar_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreen);
    border-radius: 3rem;
    padding: 0.5rem;
    width: 8%;
}

/**Container that holds all the links in the navBar*/
.navBar_links_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
}

/**links in the navBar*/
.navBar_links {
    font-family: 'philosopher', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

/** color-palette style*/
hr {
    width: 60vw;
    margin-top: 5vh;
}

.color-forestgreen {
    height: 200px;
    width: 200px;
    background-color: #3B9545;

}

.color-mantisgreen {
    height: 200px;
    width: 200px;
    background-color: #5FBF6A;
}

.color-calpolygreen {
    height: 200px;
    width: 200px;
    background-color: #1D4923;
}

.color-darkorange {
    height: 200px;
    width: 200px;
    background-color: #FF8800;
}

.color-chocolate-brown {
    height: 200px;
    width: 200px;
    background-color: #844D0B;
}

.color-sepia-brown {
    height: 200px;
    width: 200px;
    background-color: #603808;
}

.color-bistre-brown {
    height: 200px;
    width: 200px;
    background-color: #392105;
}

.color-azure-blue {
    height: 200px;
    width: 200px;
    background-color: #4F86F7;
}

.color-mantris-light-blue {
    height: 200px;
    width: 200px;
    background-color: #EBFFEE;
}


.colors-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.left-color-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10vh;
}

.right-color-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10vh;
}

.color_text_h1 {
    font-family: 'Jost', sans-serif;
    font-size: 64px;



    font-size: 5rem;
    margin: 3vh;
}

.forest-box-size {
    height: 250px;
    width: 200px;

    outline: #3B9545 solid 1px;
}

.mantis-box-size {
    height: 250px;
    width: 200px;

    outline: #5FBF6A solid 1px;

}

.mantis-light-box-size {
    height: 250px;
    width: 200px;

    outline: #3B9545 solid 1px;

}

.calpoly-box-size {
    height: 250px;
    width: 200px;

    outline: #1D4923 solid 1px;
}

.orange-box-size {
    height: 250px;
    width: 200px;

    outline: #FF8800 solid 1px;
}

.choco-box-size {
    height: 250px;
    width: 200px;
    outline: #844D0B solid 1px;
}

.sepia-box-size {
    height: 250px;
    width: 200px;
    outline: #603808 solid 1px;
}

.bistre-box-size {
    height: 250px;
    width: 200px;
    outline: #392105 solid 1px;
}

.azure-box-size {
    height: 250px;
    width: 200px;
    outline: #4F86F7 solid 1px;
}

h6 {
    display: flex;
    flex-direction: column;
    margin: 2px;
    margin-left: 4vw;
}

.dot {
    height: 45px;
    width: 45px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.color_info {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.color_info_dot {
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.color_description {
    width: 60vw;

}

.description_main_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.normal-1 {
    width: 195px;
    height: 61px;
    background-color: #5FBF6A;
    border-radius: 15px;
    opacity: 0.85;
}

.normal-2 {
    width: 195px;
    height: 61px;
    background-color: #4F86F7;
    border-radius: 15px;
    opacity: 0.80;
}

.normal-3 {
    width: 195px;
    height: 61px;
    background-color: #FF8800;
    border-radius: 15px;
    opacity: 0.80;
}

.normal-4 {
    width: 195px;
    height: 61px;
    background-color: #603808;
    border-radius: 15px;
    opacity: 0.80;
}

.normal-5 {
    width: 195px;
    height: 61px;
    background-color: #5FBF6A;
    border-radius: 15px;

}

.normal-6 {
    width: 195px;
    height: 61px;
    background-color: #4F86F7;
    border-radius: 15px;

}

.normal-7 {
    width: 195px;
    height: 61px;
    background-color: #FF8800;
    border-radius: 15px;

}

.normal-8 {
    width: 195px;
    height: 61px;
    background-color: #603808;
    border-radius: 15px;

}

.normal-9 {
    width: 195px;
    height: 61px;
    background-color: #1D4923;
    border-radius: 15px;

}

.normal-10 {
    width: 195px;
    height: 61px;
    background-color: #392105;
    border-radius: 15px;

}


.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.normal {
    display: flex;
    flex-direction: column;

}

.button-left-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 1px solid gray;
    width: 235px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: #F9F9F9;

}

.button-middle-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 1px solid gray;
    width: 235px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: #F9F9F9;
}

.button-right-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: 1px solid rgb(149, 145, 145);
    width: 235px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: #F9F9F9;
}

.name-button {
    color: white;
    margin-left: 60px;
}

.veg-fruits-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

}

.veg-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;

}








/**Need to add breaking points for responsiveness*/

/* Mobile */
@media screen and (max-width: 600px) {

    .colors-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10vh;
        gap: 10vh;

    }


    h6 {
        display: flex;
        flex-direction: column;
        margin: 14px;
        margin-left: 15vw;
    }

    .navBar_links_container {
        display: flex;
        flex-direction: column;
    }

    .text_color_palette {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color_info {
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    .button-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;

    }

    .veg-color {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;

    }
}